/*The table + the tabs that control it*/
.TabbedTable{
    padding-left: 0px;
    padding-right: 0px;
    min-width: 100%;
}

/*A single button that represents a tab*/
.TableTab{
    margin-left: 0;
    font-size: 20px;
}

table{
    border-collapse: collapse;
    border:1px solid #FFFFFF;
    min-width: 100%;
}

td{
    border:1px solid #FFFFFF;
    padding: 5px;
}


@media screen and (min-width: 900px){
    /*Some overrides to make the table and image maintain width properly in row-oriented flexbox*/
    .TabbedTable{
        padding-left: 1%;
        padding-right: 1%;
        padding: 5px;
        min-width: 60%;
        width: 60%;
    }

    .TabSet{
        display: flex;
    }
}




